/*---------------------*/
/* STRUCTURE & GENERAL */
/*---------------------*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

.promo-bg-pattern-v1-dark {
    background: url(asset_path("bg.jpg"));
    background-size: cover;
}

body a {
    text-decoration: none;
}

/*Clearfix*/
.cf:after,
.cf:before {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.col-hidden {
    display: none;
}

#loading{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

.starrr {
    display: inline-block;
}

.starrr a {
   margin-top: 6px;
    font-size: 22px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
}

.row.profile-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row.profile-grid > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.pagination-centered{
  margin:0 auto;
}
/*---------------------*/
/*    HOMEPAGE     */
/*---------------------*/
.top_profiles img.profile_thumb{
  padding: 0;
}
/*---------------------*/
/*    TRAINING MODEL     */
/*---------------------*/
// Training new/edit
// Make select 2 box take up full width
input.select2-search__field {
    width: inherit !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-selection.select2-selection--multiple {
    border: 1px solid #ccc !important;
}

.form-horizontal .caption div{
  padding-left: 0;
}

.form-horizontal .caption label {
    padding-left: 0;
    text-align: left;
}

.form-horizontal .caption input.form-control {
    margin-bottom: 5px;
}

.modal-content .title_right{
  margin-top: 15px;
}

#mainb, #lightbox{
  margin-bottom: 15px;
}

/*---------------------*/
/*    TRAINING INDEX     */
/*---------------------*/
#search-form .input-group #name,#search-form .input-group #focus{
  height: 39px;
}

.exercise-show-description li{
  list-style-type: decimal;
}

.selected .thumbnail{
  border: 3px solid green;
  border-radius: 5px;
}
